---
agents:
  endorser:
    did: "{{endorser.did}}"
    verkey: "{{endorser.verkey}}"
    admin_api_key: "{{endorser.api_key}}"
    wallet:
      seed: "{{endorser.seed}}"
      key: "{{endorser.wallet_key}}"
  author:
    did: "{{author.did}}"
    verkey: "{{author.verkey}}"
    admin_api_key: "{{author.api_key}}"
    wallet:
      seed: "{{author.seed}}"
      key: "{{author.wallet_key}}"
